body{
    margin: 1vw;
}

#video-accueil{
    width:768px;
    height:363px;
    margin-right: auto;
    margin-left: auto;
}
#discover-button{
    position: absolute;
    right: 10vw;
    width: 10vw;
    border:none;
    padding:6px 6px 6px 6px;
    border-radius:75%;
    border-bottom:7px solid #4753f3;
    font:bold 0.75vw Arial;
    color:#555;
    background:#fff;
    box-shadow:2px 2px 3px #999;
    border-top:2px solid #59cd27;
}
#discover-button:hover{
    animation-duration: 0.5s;
    animation-name: button-discover;
    right: 9.5vw;
    width: 11vw;
    font:bold 1vw Arial;
}
@keyframes button-discover {
    from {
        right: 10vw;
        width: 10vw;
        font:bold 0.75vw Arial;
    }

    to {
        right: 9.5vw;
        width: 11vw;
        font:bold 1vw Arial;
    }
}
#plane-icone{
    width: 3vw;
    height: 3vw;
    margin: auto;
}

.search-input{
    height: 2vw;
    width: auto;
    background-color: aliceblue;
}

#form-search-destination{
    height: 10vw;
    text-align: center;
    width: 100%;
}

#search-destination-depart{
    float: left;
    margin-left: 5vw;
}

#search-destination-arrivee{
    float: right;
    margin-right: 5vw;
}

#search-destination-date-picker{
    float: left;
    margin-left: 5vw;
    margin-top: 1vw;
}

#button-submit-search-destination{
    width:6vw;
    height:6vw;
    background:#fafafa;
    box-shadow:2px 2px 8px #aaa;
    font:bold 0.75vw Arial;
    border-radius:50%;
    color:#555;
}

#button-submit-search-destination:hover {
    animation-duration: 0.5s;
    animation-name: button-search;

    background:#aaa;
    border-radius:50%;
    color:whitesmoke;
}

#div-with-submit-button{
    position: absolute;
    margin-left: 45.5vw;
}

@keyframes button-search {
    from {
        background:#fafafa;
        border-radius:50%;
        color:#555;
    }

    to {
        background:#aaa;
        border-radius:50%;
        color:#fafafa;
        border-color: #fafafa;
    }
}

a{
    text-decoration: none;
    color: black;
}
.div-destination{
    display: flex;
    margin: 0.25vw;

    text-align: center;

    background-color: #fafafa;
    font-size: 1vw;

    border-style: solid;
    border-width: 2px;
    border-color: #555555;
    border-radius: 10px;
}

.div-destination:hover{
    animation-duration: 0.1s;
    animation-name: div-destination-zoom;

    font-size: 1.5vw;
}

@keyframes div-destination-zoom {
    from {
        font-size: 1vw;
        margin: 1vw 0;
    }

    to {
        font-size: 1.5vw;
    }
}