.formulaire-inscription .style{
    padding: 20px;
}

.formulaire-inscription .style label{
    color: #F2D57E;
    text-align: justify;
}

.formulaire-inscription .style input{
    width: 15vw;
}

.formulaire-inscription div{
    display: flex;
    flex-direction: column;
}

.formulaire-inscription *{
    align-self: center;
}

.formulaire-inscription>input{
    padding: 20px;
}

.formulaire-inscription .style .erreur{
    color: red;
    font-size: small;
}