.div-destination-admin{
    display: grid;
    margin: 1vw;

    text-align: center;

    background-color: #274873;
    font-size: 1vw;

    border-style: solid;
    border-width: 2px;
    border-color: #555555;
    border-radius: 10px;
}

.div-destination-admin .destination-admin-item img{
    margin: auto 0 auto 0.2vw;
    max-height:5vw;
    width: auto;
    height: auto;
}

.div-destination-admin .destination-admin-item button{
    padding:1px 0 1px 0;
    font:bold 13px Arial;
    background:#f5f5f5;
    color:#555;
    border-radius:2px;
    width:100px;
    //height: 20px;
    border:1px solid #ccc;
    box-shadow:1px 1px 3px #999;
}

.destination-admin-item{
    display: grid;
    grid-row: 1;
    width: auto;
    margin: 0.5vw auto;
}

.bouton-ajout-destination{
    float: right;
    margin-right: 1vw;
    margin-bottom: 2vw;
    border-radius:12px 0 12px 0;
    background: #f5f5f5;
    border:none;
    color:#555;
    font:bold 12px Verdana;
    padding:6px 0 6px 0;
    box-shadow:1px 1px 3px #999;
}