.lien-deconnexion {
    color: #F2D57E;
    float: right;
    margin-right: 2.5vw;
}

.titre-voyages {
    color: #D9A566;
}

ul {
    list-style-type: none;
}

.details-voyage {
    padding: 2.5vh 0vh;
    display: flex;
    flex-wrap: wrap;
}

.details-voyage li {
    color: #F2D57E;
    width: 100px;
    margin-right: 20vw;
}

.titre-page, .nom, .informations, .factures {
    margin-left: 2.5vw;
}
