body{
	background-color: #101C31;
}

a{
	color: #D9A566;
}

a:hover{
	color: #B36A8F;
}

#cote{
  flex: 30%;
  background-color: #101C31;
}

.div-principale{
  flex: 70%;
  background-color: #101C31;
}

.div-principale p{
	color: #F2D57E;
	text-align: justify;
	padding: 20px;
}

.div-principale #personnes{
	list-style-type:none;
	color:#F2D57E;
}

.div-principale #personnes li{
	margin-bottom: 10px;
}

.div-principale .liste{
	color:#F2D57E;	
}

.div-principale .liste{
	display: inline-block;
	line-height: 25px;
}

.div-principale #achat{
	margin-left: 80%;
	display: inline-block;
}

#ligne{
  display: flex;
  flex-wrap: wrap;
}

#cote img{
	margin: auto 0 auto 0.2vw;
	max-height:100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

* {
  box-sizing: border-box;
}

h1, h2{
	color: #D9A566;
}
