<body>
<header></header>

<h1>Tourisme-Matane</h1>
<p>Bienvenue sur le site de l'agence de voyage Tourisme-Matane</p>
<button>Découvrir notre compagnie</button>
<video src="https://www.youtube.com/embed/kppe8lJQ31Q" class="video-accueil"></video>

<hr/>

<h1>Rechercher une destination</h1>
<form onsubmit="">
    <input type="search">
    <img src="">
    <input type="search">
    <input type="date">
    <button type="submit">Rechercher</button>
</form>

<hr/>

<h1>Nos destinations les plus visitées</h1>
<div class="div-destination">

</div>
<div class="div-destination">

</div>

<footer></footer>
</body>
</html>