<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../CSS/theme.css">
        <link rel="stylesheet" type="text/css" href="../CSS/accueil.css">
        <title>Tourisme-Matane</title>
    </head>
    <body>
        <header>
            <center>
                <iframe src="header.html" align="top" frameborder="0" marginheight="0" marginwidth="0"></iframe>
            </center>
        </header>

        <h1>Tourisme-Matane</h1>
        <p>Bienvenue sur le site de l'agence de voyage Tourisme-Matane</p>
        <button id="discover-button">Découvrir notre compagnie</button>
        <center>
            <iframe id="video-accueil" src="https://www.youtube.com/embed/kppe8lJQ31Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
        <hr/>

        <h1>Rechercher une destination</h1>
        <form id="form-search-destination" onsubmit="">
            <div>
                <input id="search-destination-depart" class="search-input" type="search">
                <img id="plane-icone" src="../img/plane.png">
                <input id="search-destination-arrivee" class="search-input" type="search">
            </div>
            <div>
                <input id="search-destination-date-picker" class="search-input" type="date">
            </div>
            <div id="div-with-submit-button">
                <button id="button-submit-search-destination" type="submit">Rechercher</button>
            </div>
        </form>
        <hr/>

        <h1>Nos destinations les plus visitées</h1>
        <a href="#">
            <div class="div-destination">
                <img src="../img/logo_temporaire.jpg" class="img-destination" alt="Image représentant la destination"/>
                <p class="text-destination">Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
            </div>
        </a>
        <a href="#">
            <div class="div-destination">
                <img src="../img/logo_temporaire.jpg" class="img-destination" alt="Image représentant la destination"/>
                <p class="text-destination">Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
            </div>
        </a>
        <a href="#">
            <div class="div-destination">
                <img src="../img/logo_temporaire.jpg" class="img-destination" alt="Image représentant la destination"/>
                <p class="text-destination">Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
            </div>
        </a>

        <hr/>

        <footer>
            <iframe src="footer.html" align="bottom" frameborder="0" marginheight="0" marginwidth="0" style="margin: -0.5vw -0vw -0.5vw -0.5vw;width: 100vw;height: 8vw;"></iframe>
        </footer>
    </body>
</html>