<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourisme-Matane</title>
</head>
<body>
<header></header>

<h1>Tourisme-Matane</h1>
<p>Bienvenue sur le site de l'agence de voyage Tourisme-Matane</p>
<button>Découvrir notre compagnie</button>
<video src="https://www.youtube.com/embed/kppe8lJQ31Q" id="video-accueil"></video>

<hr/>

<h1>Rechercher une destination</h1>
<form onsubmit="">
    <input type="search">
    <img src="../img/plane.png">
    <input type="search">
    <input type="date">
    <button type="submit">Rechercher</button>
</form>

<hr/>

<h1>Nos destinations les plus visitées</h1>
<div class="div-destination">
    <img src="../img/logo_temporaire.jpg" class="img-destination" alt="Image représentant la destination"/>
    <p class="text-destination">Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
</div>
<div class="div-destination">
    <img src="../img/logo_temporaire.jpg" class="img-destination" alt="Image représentant la destination"/>
    <p class="text-destination">Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
</div>
<div class="div-destination">
    <img src="../img/logo_temporaire.jpg" class="img-destination" alt="Image représentant la destination"/>
    <p class="text-destination">Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
</div>

<footer></footer>
</body>
</html>