<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
	<title>Tourisme Matane</title>
	<link rel="stylesheet" href="../CSS/index.css">
	<base target="_parent">
</head>
<body style="overflow-y: hidden;">
	<footer>
		<ul>
          	<li> 
    			<a href="accueil.php" title="Accueil">Accueil</a>
         	</li>
      		<li>
    			<a href="liste_offres.html" title="Offres">Offres</a>
          	</li>
      		<li>
   				<a href="mission.html" title="A propos de nous" >A propos de nous</a>
          	</li>
        </ul>

        <p>
        	Des petites infos sur l'entreprise<br>
        	Des mails pour contacter<br>
        	Des téléphones pour contacter
        </p>

	</footer>
</body>
</html>