<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tourisme Matane</title>
</head>
<body>
	<header>
    	<a href="index.html">
        	<img src="../img/logo_temporaire.jpg" alt="Logo Tourisme Matane" title="Tourisme Matane">
		</a>

  		<nav role="navigation"> 
      		<ul>
      			<!-- Dans le css, organiser la liste à l'horizontale -->
              	<li> 
        			<a href="accueil.html" title="Accueil">Accueil</a>
             	</li>
          		<li>
        			<a href="liste_offres" title="Offres">Offres</a>
              	</li>
          		<li>
       				<a href="mission.html" title="A propos de nous" >A propos de nous</a>
              	</li>
	        </ul>

  		</nav>
  		<!-- Mettre en forme le form avec le CSS -->
  		<form>
  			<input type="text" name="recherche">
  			<input type="submit" name="rechercher" value="Recherche">
  		</form>

  		<nav role="navigation"> 
      		<ul>
      			<!-- Dans le css, organiser la liste à l'horizontale -->
              	<li> 
        			<a href="" title="FR">FR</a>
             	</li>
          		<li>
        			<a href="" title="EN">EN</a>
              	</li>
	        </ul>

  		</nav>


  		<a href="connexion.html">
  			Profil
        	<img src="../img/profil.jpg" alt="Icone Profil" title="Profil">
		</a>

  	</header>

	<footer>
		<ul>
          	<li> 
    			<a href="accueil.html" title="Accueil">Accueil</a>
         	</li>
      		<li>
    			<a href="liste_offres" title="Offres">Offres</a>
          	</li>
      		<li>
   				<a href="mission.html" title="A propos de nous" >A propos de nous</a>
          	</li>
        </ul>

        <p>
        	Des petites infos sur l'entreprise<br>
        	Des mails pour contacter<br>
        	Des téléphones pour contacter
        </p>

	</footer>
</body>
</html>