<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tourisme Matane</title>
    <link rel="stylesheet" type="text/css" href="../CSS/infos_achat_offre.css">
</head>
<body>
	<header>
    	<a href="index.html">
        	<img src="../img/logo_temporaire.jpg" alt="Logo Tourisme Matane" title="Tourisme Matane">
		  </a>

  		<nav role="navigation"> 
      		<ul>
      			<!-- Dans le css, organiser la liste à l'horizontale -->
              	<li> 
        			<a href="accueil.html" title="Accueil">Accueil</a>
             	</li>
          		<li>
        			<a href="liste_offres" title="Offres">Offres</a>
              	</li>
          		<li>
       				<a href="mission.html" title="A propos de nous" >A propos de nous</a>
              	</li>
	        </ul>

  		</nav>
  		<!-- Mettre en forme le form avec le CSS -->
  		<form>
  			<input type="text" name="recherche">
  			<input type="submit" name="rechercher" value="Recherche">
  		</form>

  		<nav role="navigation"> 
      		<ul>
      			<!-- Dans le css, organiser la liste à l'horizontale -->
              	<li> 
        			<a href="" title="FR">FR</a>
             	</li>
          		<li>
        			<a href="" title="EN">EN</a>
              	</li>
	        </ul>

  		</nav>


  		<a href="connexion.html">
  			Profil
        <img src="../img/profil.jpg" alt="Icone Profil" title="Profil">
		  </a>

  </header>
<div class="row">
  <div class="side">
    <img class="img" src="../img/Offres/Offre_Matane/Matane1.jpg">
  </div>

  <div class="main">
    <h1 id="nom_offre">Visite de la ville de Matane</h1>
    <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac quam ligula. Praesent a euismod orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vel bibendum augue. Cras sit amet neque suscipit, semper augue eu, pretium est. Morbi quis massa magna. Morbi in elementum risus, in rhoncus ligula. Ut a odio id lectus mattis ultricies. Sed mollis tortor nec nisl bibendum vulputate. In imperdiet nibh in leo vehicula, id aliquam nunc elementum. Donec suscipit, est sit amet aliquet ultricies, quam nisl convallis tellus, sed congue nisl arcu ac orci. Vivamus id mi ut nisi luctus ultricies. Pellentesque a ipsum sed lorem convallis condimentum. Nunc in sagittis odio, nec ultricies lorem. Suspendisse potenti. Vestibulum sagittis pulvinar pellentesque. 


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac quam ligula. Praesent a euismod orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vel bibendum augue. Cras sit amet neque suscipit, semper augue eu, pretium est. Morbi quis massa magna. Morbi in elementum risus, in rhoncus ligula. Ut a odio id lectus mattis ultricies. Sed mollis tortor nec nisl bibendum vulputate. In imperdiet nibh in leo vehicula, id aliquam nunc elementum. Donec suscipit, est sit amet aliquet ultricies, quam nisl convallis tellus, sed congue nisl arcu ac orci. Vivamus id mi ut nisi luctus ultricies. Pellentesque a ipsum sed lorem convallis condimentum. Nunc in sagittis odio, nec ultricies lorem. Suspendisse potenti. Vestibulum sagittis pulvinar pellentesque. 

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac quam ligula. Praesent a euismod orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vel bibendum augue. Cras sit amet neque suscipit, semper augue eu, pretium est. Morbi quis massa magna. Morbi in elementum risus, in rhoncus ligula. Ut a odio id lectus mattis ultricies. Sed mollis tortor nec nisl bibendum vulputate. In imperdiet nibh in leo vehicula, id aliquam nunc elementum. Donec suscipit, est sit amet aliquet ultricies, quam nisl convallis tellus, sed congue nisl arcu ac orci. Vivamus id mi ut nisi luctus ultricies. Pellentesque a ipsum sed lorem convallis condimentum. Nunc in sagittis odio, nec ultricies lorem. Suspendisse potenti. Vestibulum sagittis pulvinar pellentesque. s
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac quam ligula. Praesent a euismod orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vel bibendum augue. Cras sit amet neque suscipit, semper augue eu, pretium est. Morbi quis massa magna. Morbi in elementum risus, in rhoncus ligula. Ut a odio id lectus mattis ultricies. Sed mollis tortor nec nisl bibendum vulputate. In imperdiet nibh in leo vehicula, id aliquam nunc elementum. Donec suscipit, est sit amet aliquet ultricies, quam nisl convallis tellus, sed congue nisl arcu ac orci. Vivamus id mi ut nisi luctus ultricies. Pellentesque a ipsum sed lorem convallis condimentum. Nunc in sagittis odio, nec ultricies lorem. Suspendisse potenti. Vestibulum sagittis pulvinar pellentesque. </p>
  </div>

  <div class="main">
    <p>
      Du <input type="date" name="debut"> au <input type="date" name="fin"> (jours selectionnés inclus)
    </p>
  </div>

  <div class="main">
    <h2>Nombre de personnes</h2>
    <ul class="personnes">
      <li><input type="number" name="adultes"> adultes(+18ans)</li>
      <li><input type="number" name="enfants"> enfants(-18ans)</li>
      <li><input type="number" name="animaux"> animaux</li>
    </ul>
  </div>

  <div class="main">
    <ul class="liste">
      Lieux inclus :
      <li>Une superbe école</li>
      <li>Un splendide quartier</li>
      <li>Un magnifique parc</li>
    </ul>
    <ul class="liste">
      Options incluses :
      <li>Un Wi-Fi surpuissant</li>
      <li>Un trajet rapide en bus</li>
      <li>L'entrée dans les lieux</li>
    </ul>
    <div id="achat">
      Prix : 399.99$
      <button>Acheter</button>
    </div>
  </div>

</div>
  
  

	<footer>
		<ul>
          	<li> 
    			<a href="accueil.html" title="Accueil">Accueil</a>
         	</li>
      		<li>
    			<a href="liste_offres" title="Offres">Offres</a>
          	</li>
      		<li>
   				<a href="mission.html" title="A propos de nous" >A propos de nous</a>
          	</li>
        </ul>

        <p>
        	Des petites infos sur l'entreprise<br>
        	Des mails pour contacter<br>
        	Des téléphones pour contacter
        </p>

	</footer>
</body>
</html>