<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Tourisme Matane</title>
        <link rel="stylesheet" href="../CSS/theme.css">
        <link rel="stylesheet" href="../CSS/liste_offres.css">
        <base target="_parent">
    </head>
    <body>
        <header>
            <center>
                <iframe src="header.html" align="top" frameborder="0" marginheight="0" marginwidth="0"></iframe>
            </center>
        </header>
        <div class="searchbar-filter">
            <form action="GET" class="formulaire">
                <input class="champ" type="text" value="Destination"/>
                <select name="filtre">
                    <option value="nouveaute">Nouveauté</option>
                    <option value="prix_moins_to_plus">Du - cher au + cher</option>
                    <option value="prix_plus_to_moins">Du + cher au - cher</option>
                    <option value="genre">Genre</option>
                    <option value="alphabétique">Ordre alphabétique</option>
                    <option value="alphabétique_inverse">Ordre alphabétique inverse</option>

                </select>
            </form>
        </div>
        <div class="recherche-avancee">
            <form action="">
                <input class="date" type="date">
                Prix : <input class="prix" type="range" name="points" min="0" max="10">
                <select name="genre">
                    <option value="musique">Musique</option>
                    <option value="soiree">Soirée</option>
                    <option value="culture">Culture</option>
                    <option value="exploration">Exploration</option>
                </select>
                <input class="bouton" type="button" value="Rechercher" />
            </form>
        </div>
        <div class="lig">
            <!-- Boucle pour chaque activité -->
            <div class="offre">
                <img src="../img/logo_temporaire.jpg" alt="image offre">
                <h3>Nom de l'activité</h3>
                <p>date</p>
                <p>horaire</p>
                <p>prix</p>
                <p><a href="#"> >> Plus d'info </a></p>
            </div>
            <div class="offre">
                <img src="../img/logo_temporaire.jpg" alt="image offre">
                <h3>Nom de l'activité</h3>
                <p>date</p>
                <p>horaire</p>
                <p>prix</p>
                <p><a href="#"> >> Plus d'info </a></p>
            </div>
            <div class="offre">
                <img src="../img/logo_temporaire.jpg" alt="image offre">
                <h3>Nom de l'activité</h3>
                <p>date</p>
                <p>horaire</p>
                <p>prix</p>
                <p><a href="#"> >> Plus d'info </a></p>
            </div>
        </div>
        <footer>
            <iframe src="footer.html" align="bottom" frameborder="0" marginheight="0" marginwidth="0" style="margin: -0.5vw -0vw -0.5vw -0.5vw;width: 100vw;height: 8vw;"></iframe>
        </footer>
    </body>
</html>

