<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../CSS/theme.css">
        <link rel="stylesheet" href="../CSS/mission.css">
        <title>A propos de nous</title>
        <base target="_parent">
    </head>
    <body>
        <header>
            <center>
                <iframe src="header.html" align="top" frameborder="0" marginheight="0" marginwidth="0"></iframe>
            </center>
        </header>

        <h1 class="titre-page">A propos de nous</h1>

        <div class="paragraphe">
            <img class="avion" src="../img/avion-decolle.jpg" alt="Un avion qui décolle">
            <p class="premier-paragraphe">
                Laoreet lectus dui mauris tempor tempor? Cursus volutpat nullam nibh! Nulla mus inceptos mus suscipit per dapibus phasellus class! Parturient, condimentum ac rutrum phasellus rutrum pulvinar elit consectetur! Iaculis magnis lacinia senectus mattis cursus maecenas tortor, odio pulvinar magnis. Varius himenaeos dictumst, eu neque sem. Justo dictumst consequat vehicula. In fringilla iaculis aliquet conubia erat ad ultricies, maecenas mattis ullamcorper. Fringilla malesuada quisque magna feugiat metus praesent. Vulputate vitae ultricies tincidunt cum maecenas augue lectus mattis praesent maecenas himenaeos. Aptent, tortor suspendisse et maecenas nisl ullamcorper. Nunc pretium faucibus ipsum sociis justo? Turpis ad felis nostra.
            </p>
        </div>
        <div class="paragraphe">
            <p class="deuxieme-paragraphe">
                Laoreet lectus dui mauris tempor tempor? Cursus volutpat nullam nibh! Nulla mus inceptos mus suscipit per dapibus phasellus class! Parturient, condimentum ac rutrum phasellus rutrum pulvinar elit consectetur! Iaculis magnis lacinia senectus mattis cursus maecenas tortor, odio pulvinar magnis. Varius himenaeos dictumst, eu neque sem. Justo dictumst consequat vehicula. In fringilla iaculis aliquet conubia erat ad ultricies, maecenas mattis ullamcorper. Fringilla malesuada quisque magna feugiat metus praesent. Vulputate vitae ultricies tincidunt cum maecenas augue lectus mattis praesent maecenas himenaeos. Aptent, tortor suspendisse et maecenas nisl ullamcorper. Nunc pretium faucibus ipsum sociis justo? Turpis ad felis nostra.
            </p>
            <img class="bar" src="../img/bar.jpg" alt="Bar">
        </div>

        <div class="equipe">
            <ul class="liste-membres">
                <li class="membre">
                    <img class="photo-quentin" src="../img/profil.jpg" alt="Photo de Quentin">
                    <h4 class="nom">Quentin Meignan</h4>
                    <p class="mail">quentin.meignan@gmail.com</p>
                </li>
                <li class="membre">
                    <img class="photo-loris" src="../img/profil.jpg" alt="Photo de Loris">
                    <h4 class="nom">Loris Ponroy</h4>
                    <p class="mail">loris.ponroy@gmail.com</p>
                </li>
                <li class="membre">
                    <img class="photo-florian" src="../img/profil.jpg" alt="Photo de Florian">
                    <h4 class="nom">Florian Landry</h4>
                    <p class="mail">florian.landry@gmail.com</p>
                </li>
                <li class="membre">
                    <img class="photo-alexandre" src="../img/profil.jpg" alt="Photo de Alexandre">
                    <h4 class="nom">Alexandre Roussel</h4>
                    <p class="mail">alexandreroussel.fr@gmail.com</p>
                </li>
            </ul>
        </div>

        <footer>
            <iframe src="footer.html" align="bottom" frameborder="0" marginheight="0" marginwidth="0" style="margin: -0.5vw -0vw -0.5vw -0.5vw;width: 100vw;height: 8vw;"></iframe>
        </footer>
    </body>
</html>