<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="div-1">
            <img class="avion" src="../img/avion-decolle.jpg" alt="Un avion qui décolle">
            <p class="premier-paragraphe">
                Laoreet lectus dui mauris tempor tempor? Cursus volutpat nullam nibh! Nulla mus inceptos mus suscipit per dapibus phasellus class! Parturient, condimentum ac rutrum phasellus rutrum pulvinar elit consectetur! Iaculis magnis lacinia senectus mattis cursus maecenas tortor, odio pulvinar magnis. Varius himenaeos dictumst, eu neque sem. Justo dictumst consequat vehicula. In fringilla iaculis aliquet conubia erat ad ultricies, maecenas mattis ullamcorper. Fringilla malesuada quisque magna feugiat metus praesent. Vulputate vitae ultricies tincidunt cum maecenas augue lectus mattis praesent maecenas himenaeos. Aptent, tortor suspendisse et maecenas nisl ullamcorper. Nunc pretium faucibus ipsum sociis justo? Turpis ad felis nostra.
            </p>
        </div>
        <div class="div-2">
            <p class="deuxieme-paragraphe">
                Laoreet lectus dui mauris tempor tempor? Cursus volutpat nullam nibh! Nulla mus inceptos mus suscipit per dapibus phasellus class! Parturient, condimentum ac rutrum phasellus rutrum pulvinar elit consectetur! Iaculis magnis lacinia senectus mattis cursus maecenas tortor, odio pulvinar magnis. Varius himenaeos dictumst, eu neque sem. Justo dictumst consequat vehicula. In fringilla iaculis aliquet conubia erat ad ultricies, maecenas mattis ullamcorper. Fringilla malesuada quisque magna feugiat metus praesent. Vulputate vitae ultricies tincidunt cum maecenas augue lectus mattis praesent maecenas himenaeos. Aptent, tortor suspendisse et maecenas nisl ullamcorper. Nunc pretium faucibus ipsum sociis justo? Turpis ad felis nostra.
            </p>
            <img class="bar" src="../img/bar.jpg" alt="Bar">
        </div>
    </body>
</html>